@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.login-from {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.registration-form {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 720px) {
  .login-from {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
  }
  .registration-form {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
  }
}
.loader {
  margin: auto;
  border-radius: 50%;
  border-top: 0.2rem solid #0d6efd;
  width: 3rem;
  height: 3rem;
  animation: spinner 1s linear infinite;
}
.loader-sm {
  margin: auto;
  border-radius: 50%;
  border-top: 0.2rem solid #0d6efd;
  width: 1rem;
  height: 1rem;
  animation: spinner 1s linear infinite;
}
.loader-sm-light {
  margin: auto;
  border-radius: 50%;
  border-top: 0.2rem solid white;
  width: 16px;
  height: 16px;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gap-1 {
  gap: 1rem;
}
.notice {
  background-color: tomato;
  color: white;
  margin-top: 2rem;
}
/* uthaya */
* {
  font-family: sans-serif;
}
.txt-decoration-none {
  text-decoration: none;
}
.font-family-sans-serif {
  font-family: sans-serif;
}
.navbar-item {
  color: white;
}
.post-width {
  width: 95%;
}
.notification-width {
  width: 95%;
}
.compose-width {
  width: 80%;
}
.textarea-height {
  height: 10rem;
}
.min-height-compose {
  min-height: 10px;
}
.border-none {
  border: none;
}
@media screen and (min-width: 600px) {
  .post-width {
    width: 50%;
  }
  .notification-width {
    width: 50%;
  }
  .compose-width {
    width: 40%;
  }
}
.nav-stiicks {
  z-index: 2;
  position: sticky;
  top: 0;
}
/* #b2b2b2 */
.card__bodytop {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  gap: 0.5rem;
}
.card__bodytopimage {
  width: 1.5625rem;
  border-radius: 50%;
  box-shadow: 0 0 0 0.1rem #b2b2b2;
}
.profilepage__image {
  border-radius: 50%;
  box-shadow: 0 0 0 0.1rem #b2b2b2;
  margin-top: 2rem;
  width: 10rem;
}
.post-border {
  box-shadow: 0 0 0 0.06rem #b2b2b2;
}
.usersearch {
  display: flex;
  max-width: 20rem;
  justify-content: center;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.usersearch__btn {
  height: min-content;
  width: min-content;
}
